ul {
    padding: 0;

    position: relative;
}

ul li {
    list-style-type: none;
}

.fa-solid {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);

    cursor: pointer;
}


.fa-circle-arrow-left {
    left: 50px;
}

.fa-circle-arrow-right {
    right: 50px;
}

#carousel-list {
    height: 100%;
}

#carousel-list img {
    width: 750px;
    height: 500px;

    object-fit: cover;

    border-radius: 1rem;

}

ul li {
    display: none;
}

.active {
    display: block;
}

.thumbnails-list {
    width: 750px;
    height: 100px;
    margin: 0 auto;
}

.thumbnails-list img {
    width: 18%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

    filter: grayscale(1);
}

.thumbnails-list img.active {
    filter: grayscale(0);
    border: 5px solid rgb(22, 117, 211);
}